html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

th {
  background-color: #000b8f;
  border: 1px solid black;
  width: 25%;
  color: white;
}
td {
  vertical-align: top;
  border: 1px solid black;
  width: 25%;
  background-color: #dfe0f2;
}
table {
  vertical-align: top;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  font-size: 8pt;
}
label {
  padding-top: 5px;
  font-weight: bold;
}
select {
  width: 50%;
}
div {
  padding-top: 5px;
}
.list {
  text-align: left;
}
.listHeader {
  font-weight: bold;
}
select {
  width: 50%;
}
.wide {
  width: 100%;
}
.notes {
  height: 100px;
}
.fixed {
  height: 110px;
}
.fixedTall {
  height: 135px;
}
.grid-container {
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  display: grid;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
}
@media(min-width:1024px){
  .grid-container {
     grid-template-columns: repeat(3, 1fr);
  }
}
@media print {
  .pagebreak {
    page-break-after: always;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  div.footer {
    position: fixed;
    bottom: 0;
  }
  .grid-container {
     grid-template-columns: repeat(2, 1fr);
  }
}